<p><small>
  В этой книге мы обсудим о набор паттернов который поможет вам в создании
  больших масштабируемых JavaScript приложений. Материал книги основан на моей
  одноименной лекции, вдохновленной
  <a href="http://yuilibrary.com/theater/nicholas-zakas/zakas-architecture/">предыдущей работой</a>
  Nicolas Zakas, и впервые прочитанной на конференции «LondonJS»
</small></p>

<p><small>
  На случай, если у вас совсем мало времени, я вместил эту книгу в один твит
  <i>(переводчик: А я вот не могу!)</i>
</small></p>

<blockquote><small><i>
  Уменьшайте сязанность, стройте архитектуру на «модулях», «фасаде» и «медиаторе».
  «Модули» публикуют события, «медиатор» публикует события и позволяет подписываться
  на них, а «фасад» обеспечивает безопастность.
</i></small></blockquote>

<hr>