{% if page.previous or page.next %}
  <div class="prevnext">
    {% if page.previous %}
      <div class="prevnext__previous">
        <small><span>&larr;</span> <a class="prevnext__link" href="{{ page.previous.url }}">Предыдущая глава</a></small>
      </div>
    {% endif %}
    {% if page.next %}
      <div class="prevnext__next">
        <small><a class="prevnext__link" href="{{ page.next.url }}">Следующая глава</a> <span>&rarr;</span></small>
      </div>
    {% endif %}
  </div>
{% endif %}