@import 'nib'


// global-reset()

* 
  box-sizing: border-box


html
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size 18px

body
  // background-color: #FAF7E6
  reset-body()
  color #404040

hr
  display: block
  size 100% 1px
  margin 1em 0 1.5em
  background-color #888
  border none
/**
 * Headers
 */

h1
h2
h3
h4
h5
  reset-font()
  reset-box-model()
  text-shadow 0 1px 0 #FFF
  margin-bottom .5em
  small
    font-size .6em
    color #888

h1
  font-size 2em

h2
  font-size 1.8em

h3
  font-size 1.3em

h4
  font-size 1.2em

h5
  font-size 1em
  font-weight bold

ul
ol
  margin 1em 0

blockquote
  margin 0
  padding-left 32px
  border-left solid 6px #888

.wrapper
  width 780px
  margin 60px auto 0

.social-likes
  text-align: right
  width 100%

.social-likes__button
  opacity .5
  &:hover
    opacity 1


.content
  margin 2em 0 120px
  line-height: 1.4


.prevnext
  margin 32px 0
  clearfix()

.prevnext__link
  text-decoration none
  &:hover
    text-decoration underline

.prevnext__previous
.prevnext__next
  width 50%

.prevnext__previous
  float left

.prevnext__next
  float right
  text-align right