@font-face {
  font-family: 'IconicStroke';
  src: url("../iconic//iconic_stroke.eot");
  src: local('☺'), url("../iconic//iconic_stroke.ttf") format('truetype'), url("../iconic//iconic_stroke.svg#iconic") format('svg');
  font-weight: normal;
  font-style: normal;
}
/**
 * Variables
 */
/**
 * Use the border-box, Luke
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 18px;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
  background-color: #f0efe8;
  color: #404040;
}
hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 1em 0 1.5em;
  background-color: #404040;
  border: none;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
/**
 * Headers
 */
h1,
h2,
h3,
h4,
h5 {
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-shadow: 0 1px 0 #fff;
  margin-bottom: 0.5em;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small {
  font-size: 0.6em;
  color: #888;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
}
ul,
ol {
  margin: 1em 0;
}
a {
  color: #06c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #506;
}
a:visited.ignore-visited {
  color: #06c;
}
.wrapper {
  width: 720px;
  margin: 60px auto 0;
  position: relative;
}
.intro {
  margin-bottom: 1em;
  font-size: 14px;
  color: #888;
}
.content {
  margin: 2em 0 10em;
  line-height: 1.5;
  position: relative;
}
.prevnext {
  margin: 2em 0;
  zoom: 1;
}
.prevnext:before,
.prevnext:after {
  content: "";
  display: table;
}
.prevnext:after {
  clear: both;
}
.prevnext__previous,
.prevnext__next {
  width: 50%;
}
.prevnext__previous {
  float: left;
}
.prevnext__next {
  float: right;
  text-align: right;
}
.message {
  padding: 0.5em 1em;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  background-color: #b4d2f0;
  border: 1px solid #99b3cc;
}
.message.info {
  background-color: #f0e9b4;
  border: 1px solid #ccc699;
}
.sidenote {
  position: absolute;
  left: 100%;
  width: 240px;
  margin-left: 2em;
  padding: 1em;
  font-size: 14px;
  background-color: #f0e9b4;
  border: 1px solid #ccc699;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.sidenote .num {
  color: #888;
}
.rss-link {
  font-family: "IconicStroke";
  display: block;
  position: absolute;
  right: 0;
  font-size: 1.2em;
  color: #888;
}
.rss-link:hover {
  color: #06c;
}
