<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="CWc2hik7IPJSBgC9Ci7-mYAIW69Hn4dyqxkeYuM6ht4" />
  <meta name='yandex-verification' content='741dfa8d176f107e' />
  {% if page.index == true %}
    <title>«{{ site.title }}» от {{ site.author }}</title>
  {% else %}
    <title>{{ page.title }} — «{{ site.title }}»</title>
  {% endif %}
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/pygments.css">
  <link rel="stylesheet" href="/assets/vendor/social-likes/social-likes.css">
  <link rel="stylesheet" href="/assets/css/print.css" media="print">
</head>
<body>
  {% include fork-me.html %}
  <div class="wrapper">
    {% include page-header.html %}
    {% include social-likes.html %}
    <div class="content">
      {{ content }}
      {% include prevnext.html %}
    </div>
    <div class="footer">
      {% if page.index == true %}
        {% include money.html %}
      {% else %}
        <div class="widget">
          {% include footer-adsense.html %}
        </div>
      {% endif %}
      <p>
        {% include prose.html %}
        <br>
        Перевод:
          <a class="ignore-visited" href='http://anton-shuvalov.info'>Антон Шувалов</a>.   
        Помощь в переводе:
          <a class="ignore-visited" href='http://vstarkov.ru/'>Владимир Старков</a>, 
          <a class="ignore-visited" href='http://freetonik.com/'>Рахим Давлеткалиев</a>.
        <br/>
          <a class="ignore-visited" href='https://github.com/shuvalov-anton/largescaleJS_ru/graphs/contributors'>Все участники</a>.
      </p>
        {% include license.html %}
    </div>
  </div>
  <script src="/assets/vendor/jquery/jquery-2.0.3.min.js"></script>
  <script src="/assets/vendor/social-likes/social-likes.min.js"></script>
  {% include analytics.html %}
</body>
</html>
