<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">

  {% if page.index == true %}
    <title>«{{ site.title }}» от {{ site.author }}</title>
  {% else %}
    <title>{{ page.title }} — «{{ site.title }}»</title>
  {% endif %}

  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/pygments.css">
  <link rel="stylesheet" href="/assets/vendor/social-likes/social-likes.css">
</head>
<body>
  {% include fork-me.html %}
  <div class="wrapper">
    {% include page-header.html %}
    {% include social-likes.html %}
    <div class="content">
      {{ content }}
      {% include prevnext.html %}
    </div>
    <div class="footer">
      Перевод:
        <a class="ignore-visited" href='http://anton-shuvalov.info'>Антон Шувалов</a> .   
      Помощь в переводе:
        <a class="ignore-visited" href='http://vstarkov.ru/'>Владимир Старков</a> , 
        <a class="ignore-visited" href='http://freetonik.com/'>Рахим Давлеткалиев</a> .
      <br/>
      <br/>
        <a class="ignore-visited" href='https://github.com/shuvalov-anton/largescaleJS_ru/graphs/contributors'>Все участники</a> .
    </div>
  </div>
  <script src="/assets/vendor/jquery/jquery-2.0.3.min.js"></script>
  <!-- <script src="/assets/js/typo.js"></script> -->
  <script src="/assets/vendor/social-likes/social-likes.min.js"></script>
  {% include analytics.html %}
</body>
</html>
