<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}. {{ site.author }} «{{ site.title }}»</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/vendor/social-likes/social-likes.css">
</head>
<body>
  <div class="wrapper">
    {% include page-header.html %}
    {% include social-likes.html %}
    <div class="content">
      {{ content }}
      {% include prevnext.html %}
    </div>
      
  </div>
  <script src="/assets/vendor/jquery/jquery-2.0.3.min.js"></script>
  <script src="/assets/vendor/social-likes/social-likes.min.js"></script>
</body>
</html>